[Unit]
Description=undocker dns
ConditionPathIsDirectory=/var/lib/docker/containers
ConditionPathExists=/etc/resolv.conf

[Service]
ExecStart=/usr/local/bin/undocker-dns

[Install]
WantedBy=multi-user.target
